* {
    margin: 0 auto;
    padding: 0;
    height: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

main {
    text-align: center;
}

#principal {
    padding-bottom: 0px;
}

header {
    background-color: #6836db;
    height: 10%;
    padding: 15px 15px;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fundo.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#barra {
    margin: 15px 0 0 0;
    padding: 0 0 0 10px;
    height: 3.5vh;
    text-align: start;
    border: none;
    outline: none;
    width: 25vw;
    border-radius: 0.4cm;
    font-size: 20px;
    color: dimgray;
    font-family: sans-serif;
    border-style: inset;
}

#principal h1 {
    padding: 100px 0 0 0;
    font-size: 45px;
}

#red {
    margin: 15px 35px 0 0;
    padding: 10px 50px;
    border-radius: 0.4cm;
}

#retor {
    margin: 15px 0 0 35px;
    padding: 10px 50px;
    border-radius: 0.4cm;
}

    #retor:hover {
        transition: background 0.6s;
        background-color: #4061f3;
    }

#red:hover {
    transition: background 0.6s;
    background-color: #4061f3;
}

#forabarra {
    border-radius: 0.4cm;
    writing-mode: horizontal-tb !important;
}

#texto {
    background-color: #eaac8b;
    padding: 0 250px 450px 250px;
}

h5 {
    color: #000000;
}

#escrita {
    font-size: 20px;
    color: #000000;
}

div {
    display: block;
}

.logo {
    float: left;
}

img {
    margin-top: -25px;
    margin-left: 0px;
    width: 120px;
    height: 120px;
}

nav {
    float: right;
}

    nav.menu-desktop ul {
        position: relative;
        top: -3px;
    }

    nav.menu-desktop li {
        font-family: 'Times New Roman', Times, serif;
        display: inline-block;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 20px;
    }

    nav.menu-desktop a {
        text-decoration: none;
        color: #ffffff;
        padding: 20px;
        font-family: verdana;
    }

.texto {
    background: rgba(255,255,255, 1);
    font-size: 17px;
    color: black;
    padding: 50px 100px 40px 100px;
    border-radius: 0.9em;
    margin: 45px 200px 0 200px;
    font-style: oblique;
    font-weight: bold;
}

nav.menu-desktop a:hover {
    text-decoration: none;
}


li a:hover {
    transition: background 0.4s;
    background-color: #3ca9db;
    text-align: center;
    animation: changeBackgroundColor 4s infinite;
    margin: 5px 0 5px 0;
    border-radius: 50px;
}

h1 img {
    width: 200px;
    height: 200px;
    margin-right: 70px;
    margin-bottom: -70px;
}

footer.rodape {
    margin-top: 200px;
    width: 100%;
    height: 250px;
    margin-bottom: -20px;
    background-color: teal;
    color: white;
    font-size: 15px;
    padding: 50px;
}

div.bloco {
    display: block;
    float: left;
    min-height: 1px;
    padding: 0 0 0 60px;
    width: 16.6666666667%;
    zoom: 1;
}

h2 {
    text-align: left;
    color: rgb(46, 46, 46);
}

ul li {
    padding: 15px;
    text-align: left;
}

.foto {
    width: 700px;
    height: 500px;
}

.carousel.slide {
    text-align: center;
    height: 50%;
    width: 100%;
    position: sticky;
}

.logoseek {
    margin-left: 5%;
}

.redes_sociais {
    text-align: left;
    float: left;
    font-size: 20px;
}

.container {
    color: #000000;
    text-align: center;
    text-align: justify;
    font-size: 20px;
}

.vindo {
    color: rgb(90, 2, 172);
}


div.bloco2 {
    display: block;
    float: left;
    min-height: 1px;
    width: 16%;
    zoom: 1;
}

.texto2 {
    background: rgba(255,255,255, 1);
    font-size: 17px;
    color: black;
    padding: 50px 100px 40px 100px;
    border-radius: 0.9em;
    margin: 45px 200px 0 200px;
    font-style: oblique;
    font-weight: bold;
}

    .texto2 img {
        width: 1000px;
        height: 750px;
        border-style: inset;
        border-color: black;
        border-radius: 2%;
        border-width: 5px;
    }

#inFeedback {
    border-radius: 2%;
}

.bloco img {
    margin-left: 25px;
    margin-top: 6px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.bloco span {
    margin-left: 25px;
}

.doacoes {
    margin-top: 100px;
    margin-bottom: 100px;
}
